# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.turbo
.next

# Testing
coverage
.nyc_output
*.lcov

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Storybook
storybook-static

# Playwright
test-results/
playwright/.cache/

# Misc
.turbo
tsconfig.tsbuildinfo
