shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*tailwindcss*

registry=https://registry.npmjs.org/
